* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 14px;
  font-weight: 700;
  max-width: 100%;
  background: linear-gradient(to bottom, hsl(236, 21%, 26%), hsl(235, 16%, 14%), hsl(234, 17%, 12%)), url("../../images/bg-stars.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: screen;
  color: hsl(0, 0%, 100%);
  text-align: center;
  height: 100vh;
}

.countdown-section {
  width: 100%;
}

.countdown-content h1 {
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4em;
  word-spacing: 0.5em;
  padding: 3em 0;
}

.countdown-content .countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.countdown-content .countdown .time-box span {
  background-color: hsl(236, 21%, 26%);
  padding: 0.1em 0.4em;
  display: block;
  border-radius: 8px;
  color: hsl(345, 95%, 68%);
  box-shadow: 0 4px 10px hsl(234, 17%, 12%);
  text-transform: uppercase;
  font-size: 5em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  word-spacing: normal;
}
.countdown-content .countdown .time-box p {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4em;
  word-spacing: normal;
  color: hsl(237, 18%, 59%);
  margin-top: 1em;
}

footer {
  background: url("../../images/pattern-hills.svg");
  height: 180px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}
footer .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 28px;
}
footer .social-icons a {
  text-decoration: none;
}
footer .social-icons a svg {
  width: 30px;
  height: 30px;
}
footer .social-icons a svg path:hover, footer .social-icons a svg path:focus {
  fill: hsl(345, 95%, 68%);
}

/* Medium devices (landscape tablets, portrait tablets and large phones, 601px and upto 992px) */
@media (max-width: 992px) and (min-width: 601px) {
  .countdown-section {
    width: 80%;
    margin: 0 auto;
  }
  .countdown-content h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4em;
    word-spacing: 0.5em;
  }
  .countdown-content .countdown .time-box span {
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 3.8em;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    word-spacing: normal;
  }
  .countdown-content .countdown .time-box p {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4em;
    word-spacing: normal;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .countdown-section {
    width: 80%;
    margin: 0 auto;
  }
  .countdown-content h1 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4em;
    word-spacing: 0.5em;
    padding: 4em 0;
  }
  .countdown-content .countdown {
    gap: 18px;
  }
  .countdown-content .countdown .time-box span {
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 2.1em;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    word-spacing: normal;
  }
  .countdown-content .countdown .time-box p {
    text-transform: uppercase;
    font-size: 0.5em;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4em;
    word-spacing: normal;
  }
  footer {
    height: 150px;
    background-position: 82% 18%;
  }
  footer .social-icons {
    align-items: flex-end;
    padding-bottom: 18px;
  }
  footer .social-icons a img {
    width: 25px;
    height: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
