// Variables for reusable values
// Primary colors
$Grayish-blue: hsl(237, 18%, 59%);
$Soft-red: hsl(345, 95%, 68%);
// Neutral colors
$White: hsl(0, 0%, 100%);
$Dark-desaturated-blue: hsl(236, 21%, 26%);
$Very-dark-blue: hsl(235, 16%, 14%);
$Very-dark-blue-mostly-black: hsl(234, 17%, 12%);
// Font
$primary-font-size: 14px;
$primary-font-family: "Red Hat Text", sans-serif;
$primary-font-Weight: 700;

// Mixin for centering content
@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Mixin for font content
@mixin font-content(
  $textTransform,
  $size,
  $weight,
  $style,
  $lineHeight,
  $letterSpacing,
  $wordSpacing
) {
  text-transform: $textTransform;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  word-spacing: $wordSpacing;
}
// Global reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// style for the body of the webpage
body {
  font-family: $primary-font-family;
  max-width: 100%;
  background: linear-gradient(
      to bottom,
      $Dark-desaturated-blue,
      $Very-dark-blue,
      $Very-dark-blue-mostly-black
    ),
    url("../../images/bg-stars.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: screen;
  color: $White;
  text-align: center;
  height: 100vh;
}
// styling for countdown section area within the body
.countdown-section {
  width: 100%;
}
// styling for h1 element within the countdown-content classname
.countdown-content h1 {
  // Using mixin to style h1 font
  @include font-content(uppercase, 1.5em, 600, normal, 1.5, 5px, 10px);
  padding: 3.5em 0;
}
// styling for countdown classname within the countdown-content classname

.countdown-content .countdown {
  // Using mixin to center content
  @include center-content;
  gap: 20px;

  .time-box span {
    background-color: $Dark-desaturated-blue;
    padding: 20px;
    display: block;
    border-radius: 10px;
    color: $Soft-red;
    box-shadow: 0 4px 10px $Very-dark-blue-mostly-black;
    // Using mixin to style span font
    // @include font-content(uppercase, 3.2em, 700, normal, 1.5, 5px, 10px);
  }

  .time-box p {
    // Using mixin to style span font
    // @include font-content(uppercase, 3.2em, 700, normal, 1.5, 5px, 10px);
  }
}

footer {
  background: url("../../images/pattern-hills.svg");
  height: 180px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;

  .social-icons {
    // Using mixin to center social-icons within footer
    @include center-content;
    height: 100%;
    gap: 20px;

    a {
      text-decoration: none;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
// media query for responsive design on diferent screen size
/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  footer {
    height: 140px;
    background-position: 82% 18%;

    .social-icons {
      align-items: flex-end;
      padding-bottom: 10px;
      a {
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
