// Variables for reusable values
// Primary colors
$Grayish-blue: hsl(237, 18%, 59%);
$Soft-red: hsl(345, 95%, 68%);
// Neutral colors
$White: hsl(0, 0%, 100%);
$Dark-desaturated-blue: hsl(236, 21%, 26%);
$Very-dark-blue: hsl(235, 16%, 14%);
$Very-dark-blue-mostly-black: hsl(234, 17%, 12%);
// Font
$primary-font-size: 14px;
$primary-font-family: "Red Hat Text", sans-serif;
$primary-font-Weight: 700;

// Mixin for centering content
@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Global reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  font-weight: $primary-font-Weight;
}

.countdown-container {
  background: linear-gradient(to bottom,
      $Dark-desaturated-blue,
      $Very-dark-blue,
      $Very-dark-blue-mostly-black ),
    url("../../images/bg-stars.svg") no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: screen;
  height: 80vh;
  // Using mixin to center body content
  @include center-content;
  flex-direction: column;
  text-align: center;
  color: $White;
}

.countdown-container h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.countdown {
  // Using mixin to center body content
  @include center-content;
  gap: 20px;

  .time-box span {
    background-color: $Dark-desaturated-blue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px $Very-dark-blue-mostly-black;
    font-size: 3rem;
    color: $Soft-red;
    display: block;
  }

  .time-box p {
    margin-top: 10px;
    font-size: 1rem;
    color: $Grayish-blue;
  }
}

.social-icons {
  position: fixed;
  bottom: 0;
  background: url("../../images/pattern-hills.svg");
  width: 100%;
  height: 180px;

  .icons {
    // Using mixin to center body content
    @include center-content;
    gap: 20px;
    height: 100%;

    a {
      text-decoration: none;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}